$black: rgba(35, 33, 46, 1);
$t_black: rgba(35, 33, 46, 0.1);
$sovsem_black: rgba(32, 30, 42, 1);
$white: rgba(229, 229, 229, 1);
$t_white: rgba(229, 229, 229, 0.3);
$neon_green: rgba(91, 220, 218, 1);
$t_neon_green: rgba(91, 220, 218, 0.3);
$neon_blue: rgba(66, 159, 218, 1);
$t_neon_blue: rgba(66, 159, 218, 0.3);
$t2_neon_blue: rgba(66, 159, 218, 0.04);
$transparent: rgba(255, 255, 255, 0);
$neon_green-active: rgba(103, 251, 249, 1);
$neon_green-active2: rgba(136, 252, 250, 1);
$neon_green-inactive: rgba(43, 200, 198, 1);
$t_gray: rgba(196, 196, 196, 0.1);
$t_gray-double: rgba(196, 196, 196, 0.2);
