.ecommerce-section {
  margin-top: RelativeUnits(350, 1, desktop-middle, horizontal);
  .ecommerce-array {
    margin-top: RelativeUnits(150, 0.8, desktop-middle, horizontal);

    .ecommerce {
      @include SetWidth-responsive(600, 0.9);
      @include _tablet-middle {
        min-width: 80vw;
      }
      margin: 0 RelativeUnits(30, 0.5, desktop-middle, horizontal);
      margin-bottom: RelativeUnits(140, 0.8, desktop-middle, horizontal);
      padding-top: RelativeUnits(80, 0.8, desktop-middle, horizontal);
      padding-left: RelativeUnits(40, 0.8, desktop-middle, horizontal);
      position: relative;
      display: flex;

      .text {
        @include SetWidth-responsive(435, 0.8);
        @include _tablet-middle {
          min-width: 70vw;
        }
        h3 {
          margin-bottom: RelativeUnits(10, 0.8, desktop-middle, horizontal);
        }
      }
      .number {
        position: absolute;
        z-index: 0;
        color: $t2_neon_blue;
        @include SetFontLineSize(0.5, 0.5, 0.0, 250, -50);
        font-weight: 400;
        top: 0;
        left: RelativeUnits(-40, 0.8, desktop-middle, horizontal);
      }
      i {
        color: $neon_green;
        @include SetFontLineSize(0.3, 0.3, 0.4, 32, 0);
        margin-right: RelativeUnits(30, 0.8, desktop-middle, horizontal);
        margin-top: RelativeUnits(10, 0.8, desktop-middle, horizontal);
      }
    }
  }
}
