@import "_colors.scss";
@import "_fonts.scss";
//@import '/node_modules/.../lightbox.min.css';
@import "lightbox.scss";

$ubuntu: 'Ubuntu', sans-serif;
* {
	z-index: 1;
}
html, body {
	    font-family: $ubuntu;
			overflow-x: hidden;
			width: 100vw;
      background: $black;

			a {
				text-decoration: none;
        cursor: pointer;
			}

			ul {
				margin: 0;
			}

			li {
				list-style: none;
			}
      h2, h3, h4 {
        font-weight: 500;
      }
      p, h2, h3, h4, li, a  {
        color: $white;
      }
      p, li, a, input, textarea {
        @include SetFontLineSize(0.1, 0.1, 0.8, 12, 10);
      }
			textarea {
				font-family: $ubuntu;
				resize: none;
			}
      h2 {
        @include SetFontLineSize(0.35, 0.35, 0.3, 64, 8);
				span.green {
					color: $neon_green;
				}
				span.blue {
					color: $neon_blue;
				}
      }
			.subtitle {
				font-weight: 400;
        @include SetFontLineSize(0.2, 0.2, 0.6, 30, 8);
				color: $t_white;
				span.green {
					color: $t_neon_green;
				}
				span.blue {
					color: $t_neon_blue;
				}
			}
      h3 {
        @include SetFontLineSize(0.2, 0.2, 0.6, 22, 8);
				font-weight: 700;
      }
}
.co-de, .des-ign {
	position: absolute;
	z-index: 0;
}
.co-de {
	width: RelativeUnits(267, 1, desktop-middle, horizontal);
}
.des-ign {
	width: RelativeUnits(363, 1, desktop-middle, horizontal);
}
.button {
  height: RelativeUnits(64, 0.3, desktop-middle, horizontal);
  width: RelativeUnits(228, 0.3, desktop-middle, horizontal);
  border-radius: RelativeUnits(15, 0.3, desktop-middle, horizontal);
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
	justify-content: center;
	align-items: center;
  color: $black;
	background: $neon_green;
  @include SetFontLineSize(0.2, 0.2, 0.6, 16, 8);
	&:hover {
		background: $neon_green-active;
	}
}
.section-content {
	@include SetWidth-responsive(1160, 0.9);
	min-width: 80%;
}
.submit-message {
	position: fixed;
	right: 0;
	top: 33%;
	padding: 20px 30px;
	@include SetFontLineSize(0.2, 0.2, 0.6, 18, 8);
	font-weight: 600;
	background: $neon_green;
	color: $white;
	z-index: 9999999;
	border-radius: 30px 0  0 30px;
	transition: 0;
	//display: none;
}

@import "header.scss";
@import "teaser.scss";
@import "water.scss";
@import "services.scss";
@import "ecommerce.scss";
@import "roll.scss";
@import "features.scss";
@import "best.scss";
@import "garantee.scss";
@import "code.scss";
@import "slider.scss";
@import "callback.scss";
@import "slogan.scss";
@import "twosteps.scss";
@import "timeline.scss";
