.services-section {

  .services-array {
    	margin-top: RelativeUnits(140, 1, desktop-middle, horizontal);

      .service {
        @include SetWidth-responsive(300, 0.8);
        margin: 0 RelativeUnits(50, 0.5, desktop-middle, horizontal);
        margin-bottom: RelativeUnits(140, 0.8, desktop-middle, horizontal);
        min-width: 250px;
        h3 {
          margin-bottom: RelativeUnits(20, 1, desktop-middle, horizontal);
        }
        li {
          color: $neon_green;
          display: flex;
          align-items: center;
          margin-top: RelativeUnits(11, 0.1, desktop-middle, horizontal);
        }
        .square {
          width: 3px;
          height: 3px;
          background: $neon_blue;
          border-radius: 2px;
          margin-right: RelativeUnits(11, 0.1, desktop-middle, horizontal);
        }
        .price {
          @include SetFontLineSize(0.1, 0.1, 0.8, 20, 0);
          margin-top: RelativeUnits(40, 0.4, desktop-middle, horizontal);
          color: $neon_blue;
          span.general {
            background: $neon_green;
            border-radius: 4px;
            padding: RelativeUnits(10, 0.1, desktop-middle, horizontal) RelativeUnits(20, 0.1, desktop-middle, horizontal);
            padding-top: RelativeUnits(20, 0.1, desktop-middle, horizontal);
            margin-left: RelativeUnits(10, 0.1, desktop-middle, horizontal);
            color: $black;
            vertical-align: baseline;
          }
          span.big {
            @include SetFontLineSize(0.1, 0.1, 0.8, 36, 0);
          }
        }
      }
  }
}
