#slogan {
  background-color: $neon_green;
  min-height: RelativeUnits(700, 0.8, desktop-middle, horizontal);
  position: relative;
  h2 {
    @include SetFontLineSize(0.1, 0.9, 0.0, 400, -40);
    font-weight: 700;
    text-transform: uppercase;
    color: $t_black;
    z-index: 0;
  }

  .slogan-text {
    @include SetWidth-responsive(1143, 0.7);
    max-width: 80vw;
    position: absolute;
    margin-top: RelativeUnits(50, 0.2, desktop-middle, horizontal);
    h4 {
      border-radius: 5px;
      //position: absolute;
      width: 100%;
      background-color: $black;
      color: $neon_green;
      @include SetFontLineSize(0.4, 0.6, 0.0, 44, 0);
      padding-left: RelativeUnits(18, 0.3, desktop-middle, horizontal);
      padding-right: RelativeUnits(18, 0.3, desktop-middle, horizontal);
      padding-top: RelativeUnits(5, 0.3, desktop-middle, horizontal);
      padding-bottom: RelativeUnits(12, 0.3, desktop-middle, horizontal);
    }
    h3 {
      position: relative;
      color: $black;
      align-self: flex-end;
      padding-top: RelativeUnits(10, 0.3, desktop-middle, horizontal);
    }
  }
}
