
.teaser-section {
  min-height: 100vh;
  position: relative;
  margin-top: RelativeUnits(100, 0.5, desktop-middle, horizontal);

  .teaser-container {
    @include SetWidth-responsive(1675, 0.95);
    min-height: 90vh;

    @include _tablet-middle {
      flex-direction: column;
      justify-content: space-around;
    }
    .container {
      min-width: 50%;
      min-height: RelativeUnits(516, 0.5, desktop-middle, horizontal);
      @include _tablet-middle {
        min-width: 80%;
      }
    }
    .with-image {
      background: url(../img/screen.png) no-repeat;
      background-size: contain;
      background-position: center;
    }
    .with-text {
      padding-left: RelativeUnits(150, 0.7, desktop-middle, horizontal);
      padding-right: RelativeUnits(100, 1, desktop-middle, horizontal);
      ul {
        margin-left: RelativeUnits(50, 1, desktop-middle, horizontal);
        margin-top: RelativeUnits(19, 0.3, desktop-middle, horizontal);
        margin-bottom: RelativeUnits(19, 0.3, desktop-middle, horizontal);
      }
      li {
        @include SetFontLineSize(0.1, 0.1, 0.8, 20, 0);
        color: $neon_green;
        display: flex;
        align-items: center;
        margin-bottom: RelativeUnits(19, 0.3, desktop-middle, horizontal);
      }
      .square {
        width: 7px;
        height: 7px;
        background: $neon_blue;
        border-radius: 2px;
        margin-right: RelativeUnits(19, 0.3, desktop-middle, horizontal);
      }

    }
  }
  .co-de {
    top: RelativeUnits(20, 0.5, desktop-middle, horizontal);
    left: 0;
  }
  .des-ign {
    bottom: 0;
    right: 0;
  }
  .ideas {
    position: absolute;
    @include SetFontLineSize(0.3, 0.3, 0.4, 300, 8);
    font-weight: 700;
    text-transform: uppercase;
    top: 30%;
    left: 10%;
    color: $t2_neon_blue;
    z-index: 0;
  }
}
